@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  /* background-color: cornflowerblue; */
}
ul {
  display: flex;
  gap: 20px;
  background-color: rgb(59 130 246 / 0.5);
  color: #fff;
  height: 40px;
  padding: 5px;
}
button {
border: 1px solid;
width: 100px;
margin: 5px;
}
